<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <form [formGroup]="addOfferForm" (ngSubmit)="onSubmitAddOffer()"
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 md:max-w-2xl sm:w-full"
      >
        <div class="bg-white w-full px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
           
            <div class="mt-3 text-center w-full sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                class="text-lg font-medium leading-6 text-gray-900"
                id="modal-title"
              >
                Add Offer
              </h3>
              <div class="mt-4 w-full">
                <div class="grid md:grid-cols-2 md:gap-6 mt-4">
                  <div class="mb-4">
                    <label
                      class="block text-gray-700 text-lg font-semibold mb-2 "
                      htmlFor="title"
                    >
                      Post Title
                    </label>
                    <select
                     formControlName="offer_title"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="title"
                      type="text"
                    >
                      <option disabled value="" selected>--Select-type--</option>
                      <option value="0">Offering</option>
                      <option value="1">Offer to take</option>
                    </select>

                  </div>
                  <div class="mb-4">
                    <label
                      class="block text-gray-700 text-lg font-semibold mb-2 "
                      htmlFor="name"
                    >
                      Animal Type
                    </label>
                    <select
                      formControlName="animal_type"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="type"
                      type="text"
                    >
                      <option disabled value="" selected>--Select-type--</option>
                      <option value="cat">Cat</option>
                      <option value="dog">Dog</option>
                      <option value="bird">Bird</option>
                    </select>
                  </div>
                  </div>
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-lg font-semibold mb-2 "
                    htmlFor="description_of_the_offer"
                  >
                  Offer Description 
                  </label>
                  <textarea
                    formControlName="offer_description"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="description_of_the_offer"
                    type="text"
                  ></textarea>
                  <div *ngIf="offer_description?.invalid && offer_description?.touched" class="text-red-500">
                    <div *ngIf="offer_description?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="offer_description?.errors?.['minlength']">
                      This field must have at least 3 character.
                    </div>
                    <div *ngIf="offer_description?.errors?.['maxlength']">
                      This field must have at most 255 characters.
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-lg font-semibold mb-2 "
                    htmlFor="description_of_the_animal"
                  >
                  Animal Description
                  </label>
                  <textarea
                    formControlName="animal_description"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="description_of_the_animal"
                    type="text"
                    ></textarea>
                    <div *ngIf="animal_description?.invalid && animal_description?.touched" class="text-red-500">
                      <div *ngIf="animal_description?.errors?.['required']">
                        This field is required.
                      </div>
                      <div *ngIf="animal_description?.errors?.['minlength']">
                        This field must have at least 3 character.
                      </div>
                      <div *ngIf="animal_description?.errors?.['maxlength']">
                        This field must have at most 255 characters.
                      </div>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 md:gap-6 mt-4">
                  <div class="mb-4">
                    <label
                      class="block text-gray-700 text-lg font-semibold mb-2 "
                      htmlFor="price"
                    >
                      Price
                    </label>
                    <input
                      formControlName="offer_price"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="price"
                      min="0"
                      type="number"
                    />
                    <div *ngIf="offer_price?.invalid && offer_price?.touched" class="text-red-500">
                      <div *ngIf="offer_price?.errors?.['required']">
                        This field is required.
                      </div>
                    </div>
                  </div>
                 <div class="mb-4">
                    <label
                      class="block text-gray-700 text-lg font-semibold mb-2 "
                      htmlFor="days"
                    >
                      Days
                    </label>
                    <input
                      formControlName="days_of_adoption"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id ="days"
                      min="1"
                      type="number"
                    />
                    <div *ngIf="days_of_adoption?.invalid && days_of_adoption?.touched" class="text-red-500">
                      <div *ngIf="days_of_adoption?.errors?.['required']">
                        This field is required.
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="grid md:grid-cols-2 md:gap-6 mt-4">
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-lg font-semibold mb-2 "
                    htmlFor="contact">
                    Contact
                  </label>
                  <input
                    formControlName="contact"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="contact"
                    type="tel"/>
                    <div *ngIf="contact?.invalid && contact?.touched" class="text-red-500">
                      <div *ngIf="contact?.errors?.['required']">
                        This field is required.
                      </div>
                    </div>
                </div>
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-lg font-semibold mb-2 "
                    htmlFor="city"
                  >
                    City
                  </label>
                  <input
                    formControlName="city"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id ="city"
                    type="text"
                  />
                  <div *ngIf="city?.invalid && city?.touched" class="text-red-500">
                    <div *ngIf="city?.errors?.['required']">
                      This field is required.
                    </div>
                  </div>
                </div>
                </div>
                <div class="mb-4">
                  <label
                    class="block text-gray-700 text-lg font-semibold mb-2 "
                    htmlFor="image"
                  >
                    Image
                  </label>
                  <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Drop it</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"  [removable]="true" (removed)="onRemove(f)">
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                </div>                
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button
            type="submit"
            class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Save
          </button>
          <button
            (click)="onCloseModal()"
            type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
